{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} Poligestor {% endblock %} </title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body style="padding-bottom: 60px;">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container">
          <a class="navbar-brand" href="#">Poligestor</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'gerenciar' %}">Gerenciar eleitores</a>
              </li>
            </ul>
            <ul class="navbar-nav ms-auto"> 
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Sair</a>
                </li>
                {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    
      <div class="container">
        {% block content %}
        <h1 class="pt-3"> Doações e serviços</h1>
        <div class="row">
            {% for promotion in promotions %}
              <div class="col-12 pt-3 mb-4">
                <div class="card">
                  <div class="card-body">
                    {% for tag in promotion.tags.all %}
                      <button type="button" class="btn btn-primary">{{ tag }}</button>
                    {% endfor %}
          
                    {% if promotion.imagem %}
                    <img src="{{ promotion.imagem.url }}" alt="Imagem" class="img-fluid mx-auto d-block" style="max-width: 500px; height: auto;">
                    {% endif %}
                    <h5 class="card-title">{{ promotion.title }}</h5>
                    <p>{{ promotion.ssubtitle }}</p>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{ promotion.price }}</h6>
                    <p class="card-text">{{ promotion.content }}</p>
                    <a href="{% url 'detalhes' promotion.id %}" class="btn btn-primary">Ver detalhes</a>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          {% endblock %}
</body>
<footer class="bg-light text-center py-3 mt-4 fixed-bottom">
  <p>&copy; Italo Guilherme, David Santana - Cesmac</p>
</footer>
</html>